@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);


:root {
	--bg-principal: whitesmoke;
	--elementos: #161718;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: whitesmoke;
	font-family: 'Anonymous Pro', sans-serif;
}

.centro {
	transition: 0.3s;
	position: fixed;
	width: 50%;
	height: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #363533;
	border: 0.50px solid currentcolor;
	background-color: var(--bg-principal);
	box-shadow: 10px 10px #363533;
}

.centro:hover {
	transition: 0.4s;
	transform: scale(0.999) translate(-50%, -50%);
	color: var(--elementos);
	box-shadow: none;
	border: 1.8x solid currentcolor;
	border-radius: 5px;
}

.centro h2 {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}