@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

:root {
	--primary-color: #f8f8ff;
	--secondary-color: #0a0a0a;
	--third-color: #818181;
}

* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: var(--primary-color);
	color: var(--secondary-color);
	font-family: 'Lora', sans-serif;
}

a {
	text-decoration: none;
}

.navbar {
	display: none;
}

.spanel {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: var(--secondary-color);
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.8s;
	opacity: 0.97;
}

.spanel a {
	padding: 8px 8px 8px 32px;
	font-size: 25px;
	color: var(--third-color);
	display: block;
	transition: 0.3s;
}

.spanel .enlaces {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	margin: 0;
}

.spanel a:hover {
	color: var(--primary-color);
}

.spanel .close {
	position: absolute;
	top: 0;
	right: 8px;
	font-size: 27px;
	margin-left: 50px;
}


/* Navbar mobile */
.mapa {
	overflow: hidden;
	position: relative;
	background-color: var(--secondary-color);
}

.mapa a {
  color: var(--primary-color);
  padding: 5px 16px;
  font-size: 17px;
  display: block;
}

.logo {
	text-align: center;
	cursor: default;
}

.mapa a.icon {
  background: var(--secondary-color);
  position: absolute;
  right: 0;
  top: 0;
  font-size: 20px;
  padding: 0.5rem 0.8rem;
}

/* Styles for other screens  */
@media (min-width: 413px) {
	.mapa {
		display: none;
	}

	.navbar {
		background-color: var(--secondary-color);
		overflow: hidden;
		display: list-item;
	}

	.navbar .e a {
		float: left;
		color: var(--third-color);
		text-align: center;
		padding: 14px 16px;
		font-size: 17px;
	}

	.navbar .e a:hover {
		color: var(--primary-color);
	}

	.navbar a.active {
		color: var(--primary-color);
		background-color: var(--third-color);
	}

	.navbar .l {
		color: var(--primary-color);
		text-align: center;
		float: right;
		padding: 7px 8px;
		cursor: default;
	}
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
	background: #b0b0b0;
	margin: 6px;
	border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #707070;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}