---

---

<nav class="flex justify-center items-center">
  <div class="bg-zinc-900 size-fit my-2 rounded-3xl border border-zinc-700 p-2">
    <a href="#">Inicio</a>
    <a href="#">Sobre mi</a>
    <a href="#">Proyectos</a>
    <a href="#">Contacto</a>
  </div>
</nav>